.button {
  display: inline-block;
  padding: 0.75rem 4rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button--primary {
  background: linear-gradient(0deg, #51033B 0%, #220219 72%);
  color: #fff;
}

.button--primary:hover {
  background: linear-gradient(0deg, #6b0451 0%, #330225 72%);
}

.button--primary:active {
  transform: scale(0.97);
}